@import "bootstrap";
@import "justified-nav";
@import "slick";
@import "school";


@font-face {
    font-family: 'HelveticaNeueCyr';
    font-weight: 700;
    src: url('../fonts/helveticaneuecyr-black.eot');
    src: url('../fonts/helveticaneuecyr-black.eot') format('embedded-opentype'),
         // url('../fonts/helveticaneuecyr-black.otf') format('opentype'),
         url('../fonts/helveticaneuecyr-black.woff') format('woff'),
         url('../fonts/helveticaneuecyr-black.ttf') format('truetype');
         // url('../fonts/helveticaneuecyr-black.svg#HelveticaNeueCyrBlack') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    font-weight: 900;
    src: url('../fonts/helveticaneuecyr-heavy.eot');
    src: url('../fonts/helveticaneuecyr-heavy.eot') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-heavy.otf') format('opentype');
         // url('../fonts/helveticaneuecyr-heavy.woff') format('woff'),
         // url('../fonts/helveticaneuecyr-heavy.ttf') format('truetype');
         // url('../fonts/helveticaneuecyr-heavy.svg#HelveticaNeueCyrHeavy') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    font-weight: 100;
    font-style: italic;
    src: url('../fonts/helveticaneuecyr-lightitalic.eot');
    src: url('../fonts/helveticaneuecyr-lightitalic.eot') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-lightitalic.otf') format('opentype'),
         // url('../fonts/helveticaneuecyr-lightitalic.woff') format('woff'),
         // url('../fonts/helveticaneuecyr-lightitalic.ttf') format('truetype'),
         // url('../fonts/helveticaneuecyr-lightitalic.svg#HelveticaNeueCyrLightItalic') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    font-weight: 300;
    src: url('../fonts/helveticaneuecyr-roman.eot');
    src: url('../fonts/helveticaneuecyr-roman.eot') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman.otf') format('opentype'),
         // url('../fonts/helveticaneuecyr-roman.woff') format('woff'),
         // url('../fonts/helveticaneuecyr-roman.ttf') format('truetype'),
         // url('../fonts/helveticaneuecyr-roman.svg#HelveticaNeueCyrRoman') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    font-weight: normal;
    src: url('../fonts/helveticaneuecyr-roman.eot');
    src: url('../fonts/helveticaneuecyr-roman.eot') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman.otf') format('opentype'),
         // url('../fonts/helveticaneuecyr-roman.woff') format('woff'),
         // url('../fonts/helveticaneuecyr-roman.ttf') format('truetype'),
         // url('../fonts/helveticaneuecyr-roman.svg#HelveticaNeueCyrRoman') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    src: url('../fonts/helveticaneuecyr-medium.eot');
    src: url('../fonts/helveticaneuecyr-medium.eot') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-medium.otf') format('opentype'),
         // url('../fonts/helveticaneuecyr-medium.woff') format('woff'),
         // url('../fonts/helveticaneuecyr-medium.ttf') format('truetype'),
         // url('../fonts/helveticaneuecyr-medium.svg#HelveticaNeueCyrMedium') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    font-weight: bold;
    src: url('../fonts/helveticaneuecyr-bold.eot');
    src: url('../fonts/helveticaneuecyr-bold.eot') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-bold.otf') format('opentype');
         // url('../fonts/helveticaneuecyr-bold.woff') format('woff'),
         // url('../fonts/helveticaneuecyr-bold.ttf') format('truetype'),
         // url('../fonts/helveticaneuecyr-bold.svg#HelveticaNeueCyrBold') format('svg');
}
