.logo {
	width: 660px;
	height: 103px;
	display: inline-block;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../img/logo-full.gif');

    /* non-retina */
	@media only screen and (min-width: $screen-sm) {
		background-image: url('../img/logo-full.gif');
	}
	@media only screen and (min-width: $screen-sm) and (max-width: $screen-md-max) {
		width: 532px;
		height: 83px;
	}
	@media only screen and (max-width: $screen-xs-max) {
		background-image: url('../img/logo-sm@2x.gif');
		width: 276px;
		height: 74px;
	}
	@media only screen and (min-width: $screen-xs) and (max-width: $screen-sm-max) {
		margin-left: 15px;
	}

	/* retina */
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: $screen-xs-max),
	only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: $screen-xs-max),
	only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: $screen-xs-max),
	only screen and (        min-device-pixel-ratio: 2)      and (max-width: $screen-xs-max),
	only screen and (                min-resolution: 192dpi) and (max-width: $screen-xs-max),
	only screen and (                min-resolution: 2dppx)  and (max-width: $screen-xs-max) { 
		background-image: url('../img/logo-sm-pad@2x.gif');
		width: 528px;
		height: 82px;
		margin-left: 15px;
	}

	/* retina */
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: $screen-xs),
	only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: $screen-xs),
	only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: $screen-xs),
	only screen and (        min-device-pixel-ratio: 2)      and (max-width: $screen-xs),
	only screen and (                min-resolution: 192dpi) and (max-width: $screen-xs),
	only screen and (                min-resolution: 2dppx)  and (max-width: $screen-xs) { 
		background-image: url('../img/logo-sm@2x.gif');
		width: 276px;
		height: 74px;
		margin-left: 0px;
	}
	
	/* retina */
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: $screen-sm),
	only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: $screen-sm),
	only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: $screen-sm),
	only screen and (        min-device-pixel-ratio: 2)      and (min-width: $screen-sm),
	only screen and (                min-resolution: 192dpi) and (min-width: $screen-sm),
	only screen and (                min-resolution: 2dppx)  and (min-width: $screen-sm) { 
		background-image: url('../img/logo-sm-pad@2x.gif');
		width: 528px;
		height: 82px;
	}

}
.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: bold;
	color:#000;
	font-size: 13px;
	padding-top: 17px;
	padding-bottom: 15px;
	@media (min-width: $screen-md) and (max-width: $screen-md-max) {
		font-size: 12px;
		padding-left: 8px;
		padding-right: 8px;
	}

}

.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
	border-right: none;
	border-left: 1px solid #D5D5D5;
	@media (max-width: $screen-sm-max) {
		border-left: none;
	}
	&:hover {
		background-color: #5f9863;
		color:#fff;
	}
}

.dropdown.open {
	.dropdown-toggle {
		background-color: #5f9863;
		color:#fff;
	}

	.dropdown-menu .menu-lvl2 li a {
		color:#808080;
		background-color: #fefefd;
	}
}

.nav-justified {
	background-color: #F9F9F9;
	border: 1px solid #EBEBEB;
}

.row-bordered {
	border:1px solid #ececec;
	height: 100%;
	margin-bottom: -1px;
	@media (max-width: $screen-xs-max) {
		border-top: 0;
	}
  	.col-bordered {
  		height: 100%;
  		border-left: 1px solid #ececec;

  		&:first-child {
  			border-left: none;
  		}
  		&:last-child {
  			padding-right: 14px;
  			@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
				.title-hdr {
					margin-right: -14px;
				}
			}
  		}
  		@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
  			&.col-md-12 {
  				&:first-child {
  					margin-top: -1px;
  				}
  				border-left: none;
  				.title-hdr {
  					border-top: 1px solid #ECECEC;
  				}
  			}
  		}
  	}
}
.footer {
	background-color: #f9f9f9;
}
.title-hdr {
	background-color: #f9f9f9;
	font-size: 22px;
	color:#2c2c2c;
	font-weight: bold;
	line-height: 58px;
	padding: 0 20px;
	border-bottom: 1px solid #ececec;
	font-family: "HelveticaNeueCyrBlack", Helvetica, sans-serif;
	&.topborder {
		border-top: 1px solid #ececec;
	}
	$gutter: $grid-gutter-width;
	margin:0  ($gutter / -2);
	@media (max-width: $screen-xs-max) {
		font-size: 20px;
	}
}
.thumbnail {
	border:none;
	margin-bottom: 0;
	padding: 30px 0 10px;
	.caption {
		padding: 0;
		p {
			small {
				font-size: 14px;
				color: #949494;
				font-family: "HelveticaNeueCyrRoman", "Helvetica Neue", Helvetica, sans-serif;
			}
		}
		a {
			text-decoration: none;
		}
	}
	h3 {
		font-size: 18px;
		color:#2c2c2c;
		font-family: "HelveticaNeueCyrMedium", "Helvetica Neue", Helvetica, sans-serif;
		margin-bottom: 7px;
		margin-top: 24px;
	}
}
.column  {
	padding-bottom: 28px;
	p {
		padding-bottom: 10px;
	}
	@media (min-width: $screen-lg) {
		&.col-md-12 {
			padding-bottom: 47px;
		}
	}
}

.ftr {
	margin: 35px 0 40px 10px;
	padding: 0;
	list-style: none;
	li {
		margin: 0;
		padding: 4px 0;
		list-style: none;
		color:#2c2c2c;
		font-size: 14px;
		a {
			color:#949494;
			font-size: 14px;
		}
	}
}

.footer {
	a {
		color:#47b5d0;
	}
}

.social-ico {
	width: 37px;
	height: 37px;
	display: inline-block;
	background: url('../img/social.png') 0 0 no-repeat;
	margin-right: 23px;
	&.ico-fb {
		background-position: left top;
	}
	&.ico-tw {
		background-position: -59px top;
	}
	&.ico-you {
		background-position: -119px top;
	}
}

.tel {
	color:#141212;
	font-size: 18px;
}
.adress {
	color:#141212;
}
.contact {
}
.brend {
}

.media-list {
	padding-bottom: 20px;

	@media (max-width: $screen-md-max) {
		padding-bottom: 10px;
	}
	.media {
		margin-top: 25px;
		margin-bottom: 17px;
		@media (max-width: $screen-xs-max) {
			display: none;
			&:first-child {
				display: block;
			}
		}
		@media (max-width: $screen-sm-max) {
			margin-top: 0;			
		}
		@media (max-width: $screen-md-max) {
			margin-top: 5px;			
		}
	}
	.date {
		color:#949494;
		font-size: 14px;
		margin-top: -2px;
		margin-bottom: 6px;
	}
	h4 {
		color:#2c2c2c;
		font-size: 18px;
		line-height: 1.45em;
		padding-right: 10px;
	}
	a {
		text-decoration: none;
	}
}

.media > .pull-left img {
	@media (max-width: $screen-sm-max) {
		margin: 0 auto;
	}
}

.btn-green {
	height: 44px;
	line-height: 44px;
	color:#fff;
	font-size: 16px;
	text-decoration: none;
	background: #5f9863 url('../img/ico-list.gif') 19px 14px no-repeat;
	display: inline-block;
	border-radius: 3px;
	padding-left: 49px;
	padding-right: 19px;
	margin-top: 29px;
	&:hover {
		color:#fff;
	}
}
.btn-black {
	height: 44px;
	line-height: 44px;
	color:#333333;
	font-size: 16px;
	text-decoration: none;
	background: url('../img/ico-list-black.gif') 19px 14px no-repeat;
	display: inline-block;
	border-radius: 3px;
	padding-left: 49px;
	padding-right: 19px;
	margin-top: 4px;
	float: right;	
	&:hover {
		color:#333333;
	}
}


.director {
	margin-top: 41px;
	h2 {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 18px;
		font-weight: bold;
	}
	span {
		font-size: 16px;
		color:#adadad;
		padding: 4px 0 6px 0;
		display: inline-block;
  		font-family: "HelveticaNeueCyrRoman", "Helvetica Neue", Helvetica, sans-serif;
	}
	p {
		margin-bottom: 4px;
		margin-bottom: 15px;
		em {
			color:#2c2c2c;
			font-size: 16px;
			font-family: "HelveticaNeueCyrLightItalic", "Helvetica Neue", Helvetica, sans-serif;
			line-height: 1.5em;
		}
	}
	img {
		margin-left: 0px;
		margin-top: 3px;
	}
	.column {
		padding-bottom: 37px;
		margin-left: -13px;
		@media (max-width: $screen-xs-max) {
			margin-left: 0;
		}
	}
}

.all-link {
	margin-bottom: 45px;
	display: inline-block;
	@media (min-width: $screen-lg) {
		margin-left: 4px;
	}
}


.dropdown-menu {
	border-radius: 0;
	box-shadow: none;
	border: 3px solid #ebebeb;
	padding: 0;
	margin-top: 0;
	li {
		border-top: 1px solid #ebebeb;
		display: block;
		line-height: 40px;
		list-style: none;
		padding: 0;
		a {
			padding: 0 0 0 17px;
			line-height: 40px;
			height: 40px;
			font-size: 13px;
			font-weight: bold;
			color:#2c2c2c;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}

.btn.btn-transporent {
	position: absolute;
	left:13px;
	top:15px;
	color:#fff;
	font-size: 13px;
	border: 1px solid #ded286;
	border-radius: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.25);
	&::hover, &:focus {
		color:#fff;
	}
}

.photo-container {
	margin-top: 20px;
	margin-bottom: 28px;
	.text-placeholder {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 20px 30px;
		a {
			text-decoration: none;
		}
	}
	.date {
		color:#fff;
		font-weight: normal;
		font-size: 23px;
		padding-bottom: .5em;
		display: inline-block;
	}
	h2 {
		color:#fff;
		font-weight: bold;
		font-size: 52px;
		margin: 0;
		padding: 0;
		line-height: 1.2em;
	}

	@media (max-width: $screen-xs-max) {
		h2 {
		    font-size: 43px;
	    }
		.date {
			font-size: 18px;
			padding-bottom: 3px;
		}
	}

	@media (max-width: $screen-xs) {
		h2 {
		    font-size: 36px;
		    line-height: 1em;
	    }
	}

}

.navbar-collapse {
	padding: 0;
}
.nav-sm {
	background-color: #f9f9f9;
	border: 1px solid #ebebeb;
	border-radius: 2px;
	margin-top: 17px;
	max-height: 52px;
	width: 100%;
	margin-bottom: 0px;
	padding-left: 0px;
	list-style: none outside none;
	@media (max-width: $screen-xs-max) {
		border-left: none;
		border-right: none;
		border-radius: 0;
	}
}

.navbar-toggle {
	padding-left: 15px;
	margin-top: 6px;
	.icon-bar {
		background-color: #6ea272;
		height: 4px;
		border-radius: 2px;
	}
	&.collapsed {
		.icon-bar {
			background-color: #464646;
		}
	}
	&:hover, &.active, &.collapsed:hover {
		.icon-bar {
			background-color: #6ea272;
		}
	}
	
}
.menu-lvl2 .dropdown-submenu {
    position: relative;
	&>.dropdown-menu {
	    margin-top: -2px;
	    margin-left: 0;
	    border-radius: 0;
	    @media (min-width: $screen-xs) and (max-width: $screen-md-max){
			margin-top: 0;
	    }
	}

	&:hover>.dropdown-menu {
	    display: block;
	}

	a:after {
	    display: block;
	    content: " ";
	    float: right;
	    width: 0;
	    height: 0;
	    border-color: transparent;
	    border-style: solid;
	    border-width: 5px 0 5px 5px;
	    border-left-color: #ccc;
	    margin-top: 16px;
	    margin-right: 10px;
	}
	li {
	}
	li a {
	 	white-space: nowrap;
	 	overflow: hidden;
		text-overflow: ellipsis;
		max-width: 250px;
		padding-left: 20px;
		&:after {
			display: none;
		}
	}
}

.darkgrad {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
	background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
	background-image: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
	background-image: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
	opacity: .6;
}

#bigpic1 {
	overflow: hidden;

	@media (max-width: $screen-xs-max) {
		.darkgrad  {
			width: calc(100% - 30px);
			height: 100%;
			margin-left: 15px;
			margin-right: 15px;
		}
	}
	@media (max-width: $screen-xs-max) {
		.btn.btn-transporent {
			left: 30px;
			top: 18px;
		}
	}
	@media (min-width: $screen-sm) {
		padding: 0;
		&, .darkgrad  {
			width: 461px;
			height: 288px;
		}
	}
	@media (min-width: $screen-md) {
		&, .darkgrad  {
			width: 602px;
			height: 372px;
		}
	}
	@media (min-width: $screen-lg) {
		&, .darkgrad {
			width: 670px;
			height: 414px;
		}
		.btn.btn-transporent {
			left: 20px;
			top: 15px;
		}
		.text-placeholder {
			padding-left: 20px;
			padding-right: 40px;
			padding-bottom: 30px;
			h2 {
				line-height: .9em;
			}
		}
		.date {
			padding-bottom: 7px;
		}
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		img {
			height: 288px;
		}
	}

	@media (min-width: $screen-md) and (max-width: $screen-md-max) {
		h2 {
			font-size: 43px;
			line-height: .95em;
			padding-right: 40px;
		}
		.text-placeholder {
			padding-bottom: 25px;
		}
		.date {
			padding-bottom: 2px;
		}
	}

}
#bigpic2 {
	width: 488px;
	height: 331px;
	left:20px;
	overflow: hidden;

	.btn.btn-transporent {
		left:34px;
	}
	.date {
		font-size: 18px;
	}
	h2 {
		font-size: 32px;
		line-height: 1em;
	}

	.text-placeholder { 
		padding-left: 35px;
	}
	@media (min-width: $screen-lg) {
		padding: 0;
		&, .darkgrad {
			width: 494px;
			height: 274px;
		}

		.text-placeholder {
			padding-left: 17px;
			padding-bottom: 20px;
		}
		.btn.btn-transporent {
			left: 17px;
			top: 15px;
		}
		.date {
			padding-bottom: 4px;
		}
	}
}
#bigpic3 {
	width: 244px;
	height: 180px;
	left: 20px;
	overflow: hidden;
	.btn.btn-transporent {
		left:34px;
		top: 18px;
	}
	.date {
		font-size: 16px;
	}
	h2 {
		font-size: 17px;
	}
	.text-placeholder { 
		padding-left: 30px;
		padding-right: 20px;
	}
	@media (min-width: $screen-sm) {
		left: 5px;
		padding: 0;
		&, .darkgrad {
			width: 257px;
			height: 141px;
		}
	}
	@media (min-width: $screen-md) {
		left: 20px;
		&, .darkgrad {
			width: 333px;
			height: 183px;
		}
		.text-placeholder {
			padding-left: 18px;
		}
		.btn.btn-transporent {
			left: 18px;
		}
	}

	@media (min-width: $screen-lg) {
		top: 5px;
		&, .darkgrad {
			width: 245px;
			height: 135px;
		}
	}
}
#bigpic4  {
	width: 244px;
	height: 180px;
	left: 5px;
	overflow: hidden;
	.btn.btn-transporent {
		left:18px;
		top: 18px;
	}
	.date {
		font-size: 16px;
	}
	h2 {
		font-size: 17px;
	}
	@media (min-width: $screen-sm) {
		padding: 0;
		left: 5px;
		top: 5px;
		&, .darkgrad {
			width: 257px;
			height: 142px;
		}
	}
	@media (min-width: $screen-md) {
		left: 20px;
		top: 5px;
		&, .darkgrad {
			width: 333px;
			height: 184px;
		}
		.text-placeholder {
			padding-left: 18px;
		}
	}
	@media (min-width: $screen-lg) {
		top: 5px;
		left: 25px;
		&, .darkgrad {
			width: 245px;
			height: 135px;
		}
	}
}
#bigpic4, #bigpic3 {


	@media (min-width: $screen-md) and (max-width: $screen-md-max) {
		.text-placeholder {
			padding-right: 75px;
		}
		.date {
			padding-bottom: 4px;
		}
	}

	@media (min-width: $screen-lg) {
		.text-placeholder {
			padding-left: 17px;
			padding-bottom: 14px;
		}
		.btn.btn-transporent {
			left: 17px;
			top: 14px;
		}
		.date {
			padding-bottom: 0;
		}
	}
}

.typography {
	padding: 15px 50px 15px 70px;
	@media (max-width: $screen-lg) {
		padding-left: 45px;
		padding-right: 45px;
	}
	@media (max-width: $screen-sm) {
		padding-left: 17px;
		padding-right: 17px;
	}

	@media (max-width: $screen-xs-max) {
		padding-left: 0;
		padding-right: 0;
	}
	h1 {
		font-size: 40px;
		font-weight: bold;
	}
	h3 {
		padding-bottom: 12px;
		font-size: 26px;
		&.inf {
			margin-top: 80px;
			padding-bottom: 15px;
			border-bottom: 1px solid #E1E1E0;
			@media (max-width: $screen-xs-max) {
				margin-top: 50px;
			}
		}
	}
	p {
		font-size: 16px;
		line-height: 1.65em;
		margin-bottom: 19px;
		&.date {
			color:#949494;
			font-size: 16px;
			margin-top: -10px;
			margin-bottom: 16px;
		}
		&.txt {
			font-family: Georgia, serif;
		}
		&.img-cont {
			margin: 40px 0;
			img {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	.img-descr {
		font-family: Georgia, serif;
		color:#848484;
		font-size: 14px;
		margin-top: 10px;
		display: inline-block;
	}
	a {
		text-decoration: none;
	}
	.clearfix {
		// height: 6px;
	}
	ul.donload-list {
		margin-top: 22px;
		margin-bottom: 84px;
		list-style: none;
		padding-left: 0px;
			@media (max-width: $screen-xs-max) {
				margin-bottom: 40px;
			}
		li {
			background: no-repeat url(../img/down.gif) left top;
			font-family: Georgia, serif;
			font-size: 16px;
			line-height: 1.5em;
			margin: 20px 0;
			padding-left: 45px;
			@media (max-width: $screen-xs-max) {
				padding-left: 35px;
			}
		}
	}

	@media (max-width: $screen-xs-max) {
		h1 {
			font-size: 26px;
			margin-top: 0;
		}
		hr {
			margin-top: 16px;
		}
	}
}

.left-sidebar {
	padding-left: 29px;
	padding-right: 23px;
	h2 {
		font-size: 19px;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 33px;
		margin-bottom: 9px;
	}
	.nav {
		margin-top: -12px;
		& > li > a {
			padding-left: 0;
			text-decoration: none;
			padding-bottom: 10px;
			padding-top: 9px;
			color:#000000;
			font-weight: bold;
			text-transform: uppercase;
			&:hover {
				background:none;
			}
		}
		ul {
			list-style: none;
			padding: 0 0 0 10px;
			margin-top: -2px;
			margin-bottom: 14px;
			li {
				padding: 0;
				list-style: none;
				font-size: 14px;
				line-height: 2.5em;
				a {
					text-decoration: none;
					color:#7f7f7f;
					font-size: 14px;
					text-decoration: none;
					border-bottom: 2px solid #fff;
					&:hover, &.active {
						text-decoration: none;
						border-bottom: 2px solid #5f9863;
					}
				}
				ul li a {
					font-size: 13px;
				}
			}
		}
	}
}

.kontakt {
	padding-bottom: 23px;
	p {
		font-size: 16px;
		color:#adadad;
		margin-top: 4px;
		margin-bottom: 5px;
	}
	h2 {
		font-size: 26px;
		margin-top: 37px;
	}
	h3 {
		margin-top: 5px;
	}
	.media {
		padding-top: 37px;
		@media (min-width: 0){
			& .pull-left {
				float: left !important;
			}
		}

		@media (max-width: $screen-xs-max) {
			padding-top: 0px;
			padding-bottom: 20px;
		}
	}
	.media-heading {
		font-size: 18px;
		font-weight: bold;
	}
	.media-body {
		padding-left: 5px;
		padding-top: 10px;
		@media (max-width: $screen-xs-max) {
			padding-top: 0;
		}
		p {
			font-size: 15px;
			color:#adadad;
			&.phone {
				font-size: 13px;
				color:#000;
				font-weight: normal;
				span {
					white-space: nowrap;
				}
				em {
					font-style: normal;
					color:#adadad;
				}
			}
		}
	}
	.media.withpad {
		.media-body {
			padding-top: 0;
		}	
	}
	.formap {
		padding-left: 20px;
		margin-top: -10px;
	}
}

.camera-ico {
	display: inline-block;
	width: 31px;
	height: 31px;
	background: left top no-repeat url(../img/camera-ico.gif);
	top: 5px;
	margin-left: 22px;
	position: relative; 
}

h3.ico-map {
	font-weight: bold;
	font-size: 18px;
	background: url('../img/map-ico.gif') left 3px no-repeat;
	padding-left: 20px;
	margin-top: 68px;
	margin-bottom: 2px;
	@media (max-width: $screen-xs-max) {
		margin-top: 10px;
	}
}

.table-bordered > thead > tr > td {
	border-bottom-width: 1px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	padding: 12px 20px;
}
.table {
	margin-top: 35px;
}
.table > tbody > tr > td {
	font-size: 14px;
	padding: 12px 20px;
}
.bgrgray {
	background-color: #fcfcfb;
}

.gallery-preview {
	list-style: none;
	padding: 0;
	float: none;
	clear: both;
	height: 80px;
	overflow: hidden;
	li {
		padding: 0;
		list-style: none;
		float: left;
		margin-right: 24px;
		a {
			display: block;
			position: relative;
			cursor: pointer;
			img {
				position: relative;
				z-index: 1001;
			}
			&:after {
				content:' ';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #fff;
				z-index: 1002;
				opacity: .5;
			}
			&.active:after, &:hover:after {
				opacity: 0;
			}
		}
	}
}

.lica {
	.media-object {
		margin: 20px auto 0;
	}
	h3 {
		font-size: 18px;
		font-weight: bold;
		color:#2c2c2c;
		margin-bottom: 0;
	}
	
	p {
		font-size: 15px;
		color:#adadad;
		padding: 0 45px;
		margin-bottom: 30px;
	}

    .clearfix {
		height: inherit;
    }
}
.no-transition {
  -webkit-transition: height 0;
  -moz-transition: height 0;
  -ms-transition: height 0;
  -o-transition: height 0;
  transition: height 0;
}
.news-list {
	padding-bottom: 20px;
	&.media-list .media {
		display: block;
	}
	.media:first-child {
		margin-top: 0px;
		margin-bottom: 17px;
	}
	.media {
		margin-top: 0px;
		margin-bottom: 17px;
		a.news-cover {
			padding-left: 70px;
		}
	}

	@media (min-width: $screen-lg) {
		.pull-left {
			float: left !important;
			margin-right: 19px;
			img {
				width: 136px;
				height: 85px;
			}
		}
	}
	@media (min-width: $screen-lg-min) {
		.media:first-child { margin-top: 25px; }
		.media { margin-top: 25px; }
	}

	p.date {
		color:#949494;
		font-size: 14px;		
		margin-top: -2px;
		margin-bottom: 6px;
	}

	a {
		text-decoration: none;
		h4.media-heading {
			color: #2c2c2c;
			font-size: 18px;
			font-weight: bold;
			line-height: 1.45em;
			.camera-ico {
				margin-top: -15px;
				margin-left: 12px;
				top: 7px;
			}
		}
		&:hover {
			text-decoration: none;
			h4.media-heading {
				text-decoration: none;
				color:#5f9863;
			}
		}
	}
	&.news-rulon {

		@media (min-width: $screen-sm) {
			.pull-left {
				float: left !important;
				img {
					width: 137px;
					height: 85px;
				}
			}
		}
	}
}

.anons {
	.row {
		padding-left: 6px;
		padding-right: 6px;
	}
	.thumbnail a {
		width: 215px;
		height: 137px;
		overflow: hidden;
	}
	@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
		.title-hdr {
			margin-right: -14px;
		}
	}
}

@media (max-width: $screen-xs) {
	.masthead .row {
		margin-left: 0;
		margin-right: 0;
	}
	.nav-justified {
		position: absolute;
		z-index: 1100;
		margin-top: -1px;
		border-radius: 0;
		border: none;
		border-top: 3px solid #ebebeb;
		border-bottom: 2px solid #ebebeb;
		li {
			border-bottom: 1px solid #ebebeb;
			border-top: none;
			a {
				padding-top: 13px;
				padding-bottom: 11px;
				font-weight: bold;
				background-color: #fcfcfc;
				text-align: left;
				padding-left: 16px;
			}
		}
	}
	.nav-justified {
		li {
			&.open a.dropdown-toggle {
				background-color: #5f9863;
				color:#fff;
			}
			a:hover {
				background-color: #5f9863;
				color:#fff;	
			}
			&.open {
				a.dropdown-toggle {
					background-color: #5f9863;
					color:#fff;			
				}
			}
		}
	}
	.nav-justified > .dropdown .dropdown-menu {
		border-top: none;
		margin-top: 0;
		a {
			text-transform: none;
			display: inline-block;
			height: 42px;
			line-height: 1.5em;
			padding-left: 35px;
			&:hover {
				color: #2C2C2C;
				background-color: #FCFCFC;
			}
		}
		.menu-lvl2 {
			border-top: 1px solid #ebebeb;
			padding-left: 0;
			margin-left: 0;
			margin-bottom: -1px;
			li a {
				font-weight: normal;
				color:#808080;
				padding-left: 50px;
				width: 100%;
				background-color: #f9f9f9;
				&:hover {
					color:#5f9863;
					font-weight: bold;
				}
			}
		}
		.dropdown-submenu {
			a {
				background-color: #f9f9f9;
				color:#5f9863;
				&:after {
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 4px 4px 0 4px;
					top: 4px;
					right: 5px;
					position: absolute;
					border-color: #808080 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
				}
				&:hover:after {
					border-color: #5f9863 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
				}
			}
			&.open a {
				background-color: #f9f9f9;
				color:#5f9863;
				font-weight: bold;
				width: 100%;
				&:after {
					border-color: #5f9863 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
				}
			}
			.dropdown-menu {
				width: 100%;
				border:none;
				position: static;
			}
		}
	}
	.menu-lvl2 .dropdown-submenu:hover > .dropdown-menu {
		display: none;
	}
	.menu-lvl2 .dropdown-submenu.open > .dropdown-menu {
		display: block;
	}
	.nav-justified > .dropdown .menu-lvl2 .dropdown-submenu.open > .dropdown-menu li {
		height: 40px;
		margin-bottom: 0px;
		border-bottom: none;
		border-top: none;
		width: 100%;
		border-top: 1px solid #ebebeb;
		background-color: #f4f4f4;
		margin-bottom: 1px;
		a {
			color:#808080;
			font-weight: normal;
			font-size: 13px;
			padding-left: 65px;
			max-width: inherit;
			background-color: #f4f4f4;
			height:40px;
		}
	}
}
@media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
	.nav-justified, .nav-tabs.nav-justified {
		border-radius: 0;
		border:3px solid #e8e8e8;
		border-bottom:2px solid #e8e8e8;
	}
	.collapse {		display: block;	}
	.navbar-collapse.no-transition.collapse {
		.nav.nav-justified {
			display: none;
		}
	}
	.navbar-collapse.no-transition.collapse.in {
		.nav.nav-justified {
			display: block;
		}
	}
	.navbar-collapse.in, .navbar-collapse {
		overflow-y: inherit;
		position: relative;
		height: 1px;	
	}
	.dropdown-menu {
		float: none;
	}
	.nav-justified {
		position: absolute;
		width: auto;
		margin-top: -1px;
		z-index: 1100;
	}
	.nav-justified > li {
		border-bottom: 1px solid #e8e8e8;
	}
	.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
		background-color: #fff;
		padding-top: 12px;
		padding-bottom: 11px;
		text-align: left;
		&:hover, &.active {
			background-color: #5F9863;
			color: #fff;
		}
	}

	.nav-justified > li.open, .nav-tabs.nav-justified > li.open {
		& > a {
			background-color: #5F9863;
			color: #fff;
			.caret {
				border-color: transparent transparent transparent #ffffff;
			}
		}
	}

	.nav-justified > .dropdown .dropdown-menu {
		top: -3px;
		left: 100%;
	}
	.dropdown-menu li {
		white-space: nowrap;
	}
	.dropdown.open .dropdown-menu .menu-lvl2 {
		padding-left: 0;
		li {
			// margin-bottom: -2px;
			a {
				width: 100%;
				display: inline-block;
				color:#808080;
				font-size: 13px;
				text-transform: none;
				font-weight: normal;
				padding-left: 33px;
				&:hover, &.active {
					color:#5f9863;
					font-weight: bold;
				}
			}
		}
		.dropdown-submenu {
			a:after {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4px 4px 0 4px;
				top: 4px;
				right: 5px;
				position: absolute;
				border-color: #808080 transparent transparent transparent;
			}
			&:hover, &.active {
				a {
					color:#5f9863;
					font-weight: bold;
					&:after {
						border-color: #5f9863 transparent transparent transparent;
					}
				}
			}
			&.open {
				a {
					color:#5f9863;
					font-weight: bold;
				}
				li a {
					font-weight: normal;
					color: #808080;
					padding-left: 43px;
				}
			}
		}
	}
	.dropdown.open .dropdown-menu .menu-lvl2 li.open {
		a {
			color: #5F9863;
			font-weight: bold;
		}
		li a {
			font-size: 13px;
			font-weight: normal;
			color: #808080;
			background-color: #FAFAFA;
		}
	}
	.dropdown a .caret {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 0 5px 5px;
		margin-left: 15px;
		border-color: transparent transparent transparent #d2d2d2;
		&:hover, &.active {
			border-color: transparent transparent transparent #ffffff;
		}
	}
	.menu-lvl2 .dropdown-submenu:hover > .dropdown-menu {
		display: none;
	}
	.menu-lvl2 .dropdown-submenu.open > .dropdown-menu {
		display: block;
		position: static;
		border: none;
		border-top: 1px solid #EBEBEB;
		background-color: #ebebeb;
		li {
			height: 40px;
			margin-bottom: 1px;
			border-top:none;
		}
		a {
			color:#808080;
			font-weight: normal;
			background-color: #fafafa;
			padding-left: 43px;
			&:after {
				display: none;
			}
		}
	}
}

@media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
	.thumbnail a > img {
		margin-left: 0;
	}
	.title-hdr {
		font-size: 20px;
	}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-md) {
}

@media (min-width: $screen-md-min) and (max-width: $screen-lg)  {
	.img-left, .img-right {
		padding: 0;
	}
	.img-right {
		.col-lg-6 {
			&:last-child {

			}
			&:nth-child(even) {

			}
		}
	}
}


@media (max-width: $screen-md-max) {
	.pull-left {
	    float: none !important;
	}
	.top-border {
		border-top: 1px solid #ececec;
		padding-top: 25px;
		padding-bottom: 10px;
	}
	.contact {
		.text-justify {
			padding-top: 20px;
			text-align: center;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.contact .text-justify {
		text-align: left;
		margin-bottom: 20px;
	}
}


@media (min-width: $screen-md-min) {
	.dropdown-menu {
		.menu-lvl2 {
			padding-left: 0;
			li {
				a {
					text-transform: none;
					color:#808080;
					font-weight: normal;
					padding: 0 20px 0 33px;
					&:hover, &.active {
						color:#5f9863;
					}
				}
			}
			ul li a {
				padding-left: 20px;
			}
		}
	}

	.nav-justified > .dropdown .dropdown-menu .dropdown-submenu {
	    position: relative;
		&>.dropdown-menu {
			display: none;
		    top: 0;
		    left: 100%;
		    margin-top: -2px;
		    margin-left: 0;
		    border-radius: 0;
		}

		&:hover>.dropdown-menu {
		    display: block;
		}

		&>a:after {
		    display: block;
		    content: " ";
		    float: right;
		    width: 0;
		    height: 0;
		    border-color: transparent;
		    border-style: solid;
		    border-width: 5px 0 5px 5px;
		    border-left-color: #ccc;
		    margin-top: 16px;
		    margin-right: 10px;
		}
	}

	.nav-justified > .dropdown:hover .dropdown-menu {
		display: block;
	}

	.nav-justified > li, .nav-tabs.nav-justified > li {
	}

}

@media (min-width: $screen-lg) {
	.img-left, .img-right {
		padding: 0;
	}
	.col-lg-12 {
		.img-left-padding {
			height: 331px;
		}
	}
	.img-right {
		.col-lg-6 {
			&:last-child {
				padding-left: 0;
			}
			&:nth-child(even) {
				padding-right: 0;
			}
		}
	}
	.media-object:not(.img-circle) {
		width: 137px;
		height: 85px;
		margin-left: 4px;
	}

	.social-ico {

		margin-top: 15px;
		margin-bottom: 15px;
	}

	.tel {
		margin-top: 35px;
		margin-bottom: 8px;
	}
	.adress {
		margin-bottom: 7px;
	}
	.contact {
		padding-left: 18px;
	}
	.brend {
		margin-bottom: 4px;
	}

}