.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: bold;
	color:#000;
	font-size: 12px;
	padding-top: 16px;
}
.row-bordered {
	border-left:1px solid #ececec;
	border-right:1px solid #ececec;
	border-bottom:1px solid #ececec;
	height: 100%;
  	.col-bordered {
  		height: 100%;
  		border-left: 1px solid #ececec;
  		&:first-child {
  			border-left: none;
  		}
  	}
}
.footer {
	background-color: #f9f9f9;
}
.title-hdr {
	background-color: #f9f9f9;
	font-size: 22px;
	color:#2c2c2c;
	font-weight: bold;
	line-height: 58px;
	padding: 0 20px;
	border-bottom: 1px solid #ececec;
	border-top: 1px solid #ececec;
	$gutter: $grid-gutter-width;
	margin:0  ($gutter / -2);
}
.thumbnail {
	border:none;
	margin-bottom: 0;
	padding: 30px 0 10px;
	.caption {
		padding: 0;
		p {
			small {
				font-size: 14px;
				color: #949494;
			}
		}
		a {
			text-decoration: none;
		}
	}
	h3 {
		font-size: 18px;
		color:#2c2c2c;
		margin-bottom: 5px;
	}
}
.column  {
	padding-bottom: 35px;
	p {
		padding-bottom: 10px;
	}
}

.ftr {
	margin: 35px 0 40px 10px;
	padding: 0;
	list-style: none;
	li {
		margin: 0;
		padding: 4px 0;
		list-style: none;
		color:#2c2c2c;
		font-size: 14px;
		a {
			color:#949494;
			font-size: 14px;
		}
	}
}

.footer {
	a {
		color:#47b5d0;
	}
}

.social-ico {
	width: 37px;
	height: 37px;
	display: inline-block;
	background: url('../img/social.png') 0 0 no-repeat;
	margin-right: 23px;
	&.ico-fb {
		background-position: left top;
	}
	&.ico-tw {
		background-position: -59px top;
	}
	&.ico-you {
		background-position: -119px top;
	}
}

.tel {
	color:#141212;
	font-size: 18px;
}
.adress {
	color:#141212;
}
.contact {
}
.brend {
}

.media-list {
	padding-bottom: 20px;
	.media {
		margin-top: 30px;
	}
	.date {
		color:#949494;
		font-size: 14px;
	}
	h4 {
		color:#2c2c2c;
		font-size: 18px;
	}
	a {
		text-decoration: none;
	}
}
.btn-green {
	height: 44px;
	line-height: 44px;
	color:#fff;
	font-size: 16px;
	text-decoration: none;
	background: #5f9863 url('../img/ico-list.gif') 19px 14px no-repeat;
	display: inline-block;
	border-radius: 3px;
	padding-left: 49px;
	padding-right: 19px;
	margin-top: 29px;
	&:hover {
		color:#fff;
	}
}
.btn-black {
	height: 44px;
	line-height: 44px;
	color:#333333;
	font-size: 16px;
	text-decoration: none;
	background: url('../img/ico-list-black.gif') 19px 14px no-repeat;
	display: inline-block;
	border-radius: 3px;
	padding-left: 49px;
	padding-right: 19px;
	margin-top: 4px;
	float: right;	
	&:hover {
		color:#333333;
	}
}


.director {
	margin-top: 35px;
	h2 {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 18px;
	}
	span {
		font-size: 16px;
		color:#adadad;
		padding: 5px 0 10px 0;
		display: inline-block;
	}
	p em {
		color:#2c2c2c;
		font-size: 16px;
	}
	img {
		margin-left: 15px;
	}
}

.all-link {
	margin-bottom: 45px;
	display: inline-block;
}


.dropdown-menu {
	border-radius: 0;
	box-shadow: none;
	border: 3px solid #ebebeb;
	padding: 0;
	li {
		border-top: 1px solid #ebebeb;
		display: block;
		line-height: 40px;
		list-style: none;
		padding: 0;
		a {
			padding: 0 0 0 17px;
			line-height: 40px;
			height: 40px;
			font-size: 13px;
			font-weight: bold;
			color:#2c2c2c;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}

.btn.btn-transporent {
	position: absolute;
	left:13px;
	top:15px;
	color:#fff;
	font-size: 13px;
	border: 1px solid #ded286;
	border-radius: 3px;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.25);
	&::hover, &:focus {
		color:#fff;
	}
}

.photo-container {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 510px;
	overflow: hidden;
	.text-placeholder {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 20px 30px;
		a {
			text-decoration: none;
		}
	}
	.date {
		color:#fff;
		font-weight: normal;
		font-size: 23px;
		padding-bottom: .5em;
		display: inline-block;
	}
	h2 {
		color:#fff;
		font-weight: bold;
		font-size: 52px;
		margin: 0;
		padding: 0;
	}
}

#bigpic2 {
	.btn.btn-transporent {
		left:34px;
	}
	.date {
		font-size: 18px;
	}
	h2 {
		font-size: 32px;
	}
	.text-placeholder { 
		padding-left: 35px;
	}
}
#bigpic3 {
	.btn.btn-transporent {
		left:34px;
		top: 18px;
	}
	.date {
		font-size: 16px;
	}
	h2 {
		font-size: 17px;
	}
	.text-placeholder { 
		padding-left: 35px;
		padding-right: 20px;
	}
}
#bigpic4 {
	.btn.btn-transporent {
		left:18px;
		top: 18px;
	}
	.date {
		font-size: 16px;
	}
	h2 {
		font-size: 17px;
	}
}


.navbar-collapse {
	padding: 0;
}
.nav-sm {
	background-color: #EEE;
	border: 1px solid #CCC;
	border-radius: 2px;
	margin-top: 17px;
	max-height: 52px;
	width: 100%;
	margin-bottom: 0px;
	padding-left: 0px;
	list-style: none outside none;
}

.navbar-toggle {
	padding-left: 15px;
	.icon-bar {
		background-color: #6ea272;
		height: 3px;
		border-radius: 2px;
	}
}

@media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
	.photo-container {
	    height: 220px;
	}
	#bigpic1 .btn.btn-transporent {
		left: 35px;
	}
	.photo-container h2 {
	    font-size: 32px;
    }
	.photo-container .date {
		font-size: 18px;
	}
	.thumbnail a > img {
		margin-left: 0;
	}
	.title-hdr {
		font-size: 20px;
	}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
	.img-left, .img-right {
		padding: 0;
	}
	.img-left {
		height: 364px;
		overflow: hidden;
	}
	.img-left-padding {
		border-left: 5px solid #fff;
	}
	.img-bottom-padding {
		border-bottom: 5px solid #fff;
	}
	.img-top-padding {
		border-top: 5px solid #fff;
		&:first-child {
			border-bottom: 5px solid #fff;
			border-top: none;
		}
	}
	#bigpic4 .btn.btn-transporent {
		left: 35px;
	}
	#bigpic4 .text-placeholder {
		padding-left: 35px;
	}
	#bigpic3 img {
		height: 185px;
	}
	.photo-container {
	    height: 364px;
	}
}

@media (min-width: $screen-md-min) and (max-width: $screen-lg)  {
	.img-left, .img-right {
		padding: 0;
	}
	.img-left {
		height: 471px;
		overflow: hidden;
	}
	.img-left-padding {
		border-left: 5px solid #fff;
	}
	.img-bottom-padding {
		border-bottom: 5px solid #fff;
	}
	.img-top-padding {
		border-top: 5px solid #fff;
		&:first-child {
			border-bottom: 5px solid #fff;
			border-top: none;
		}
	}
	.img-right {
		.col-lg-6 {
			&:last-child {

			}
			&:nth-child(even) {

			}
		}
	}
	#bigpic3 {
		img {
			width: 322px;
			height: 238px;
		}
	}
}


@media (max-width: $screen-md-max) {
	.pull-left {
	    float: none !important;
	}
	.media-list .media {
		margin-top: 30px;
	}
	.top-border {
		border-top: 1px solid #ececec;
		padding-top: 25px;
		padding-bottom: 10px;
	}
	.contact {
		.text-justify {
			padding-top: 20px;
			text-align: center;
		}
	}
}


.nav-justified > .dropdown .dropdown-menu .dropdown-submenu {
    position: relative;
	&>.dropdown-menu {
	    margin-top: -2px;
	    margin-left: 0;
	    border-radius: 0;
	}

	&:hover>.dropdown-menu {
	    display: block;
	}

	&>a:after {
	    display: block;
	    content: " ";
	    float: right;
	    width: 0;
	    height: 0;
	    border-color: transparent;
	    border-style: solid;
	    border-width: 5px 0 5px 5px;
	    border-left-color: #ccc;
	    margin-top: 16px;
	    margin-right: 10px;
	}
}

@media (min-width: $screen-md-min) {
	.dropdown-menu {
		.menu-lvl2 {
			padding-left: 0;
			li {
				a {
					text-transform: none;
					color:#808080;
					font-weight: normal;
					padding: 0 20px 0 33px;
					&:hover, &.active {
						color:#5f9863;
					}
				}
			}
		}
	}

	.nav-justified > .dropdown .dropdown-menu .dropdown-submenu {
	    position: relative;
		&>.dropdown-menu {
		    top: 0;
		    left: 100%;
		    margin-top: -2px;
		    margin-left: 0;
		    border-radius: 0;
		}

		&:hover>.dropdown-menu {
		    display: block;
		}

		&>a:after {
		    display: block;
		    content: " ";
		    float: right;
		    width: 0;
		    height: 0;
		    border-color: transparent;
		    border-style: solid;
		    border-width: 5px 0 5px 5px;
		    border-left-color: #ccc;
		    margin-top: 16px;
		    margin-right: 10px;
		}
	}
}

@media (min-width: $screen-lg-min) {
	.img-left, .img-right {
		padding: 0;
	}
	.img-left-padding {
		border-left: 5px solid #fff;
	}
	.col-lg-12 {
		.img-left-padding {
			height: 331px;
		}
	}
	.img-bottom-padding {
		border-bottom: 5px solid #fff;
	}
	.img-top-padding {
		border-top: 5px solid #fff;
	}
	.img-right {
		.col-lg-6 {
			&:last-child {
				padding-left: 0;
			}
			&:nth-child(even) {
				padding-right: 0;
			}
		}
	}
	.media-object {
		max-width: 137px;
		max-height: 85px;
	}

	.social-ico {

		margin-top: 15px;
		margin-bottom: 15px;
	}

	.tel {
		margin-top: 35px;
		margin-bottom: 8px;
	}
	.adress {
		margin-bottom: 7px;
	}
	.contact {
		padding-left: 18px;
	}
	.brend {
		margin-bottom: 4px;
	}

}


