doctype html
html
  head
    meta charset="utf-8" 
    meta content="IE=edge" http-equiv="X-UA-Compatible" 
    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
    meta content="template language" name="keywords"
    meta content="marchukilya@gmail.com" name="author"
    meta content="" name="description"
    link href="css/main.css" rel="stylesheet"
    /[if IE]
      link href="css/ie.css" rel="stylesheet" type="text/css"
    link rel="shortcut icon" type="image/png" href="favicon.png"
    title School - Главная
  body
    == Slim::Template.new("top-menu.slim").render

    .container
      .row
        ol.breadcrumb
          li
            a href="#" Главная страница
          li
            a href="#" О школе
          li.activeData ЕГЭ/ГИА

    .container
      .row.row-bordered
        .col-lg-3.visible-lg.col-bordered.left-sidebar
          h2 О школе
          hr
          ul.nav.nav-pills.nav-stacked
            li
              a Миссия
            li
              a Лица
              ul
                li
                  a Совет директоров
                li
                  a Администрация
                li
                  a Учителя
                li
                  a Кураторы
                li
                  a Службы сопровождения
            li
              a История школы
            li
              a Достижения школы
            li
              a СМИ о нас
            li
              a Официальные документы
              ul
                li
                  a ЕГЭ/ГИА
                li
                  a Сотрудничество с ВУЗами
                li
                  a Образовательная программа
                li
                  a Программа развития
                li
                  a Устав школы
                li
                  a Самообследование
                li
                  a Публичный отчет
                li
                  a Аналтический отчет успеваемости
                li
                  a Структура управления школой
                li
                  a Локальные акты
                li
                  a Расписание
                li
                  a Дополнительное образование
                li
                  a Кадровое обеспечение образовательного процесса
                li
                  a Информационно-  образовательные ресурсы
        .col-lg-9.col-xs-12.col-bordered
          .typography
            h1 ЕГЭ/ГИА
            hr
            h3 ЕГЭ-2014
            p ЕГЭ-2014
            p ГИА-2014
            p
              a href="#" Порядок проведения ГИА-9 (Приказ №1394 от 25.12.2013) 
            p Порядок проведения ГИА-11 (Приказ №1400 от 26.12.2013)
            p Открытые банки заданий ЕГЭ и ГИА-9 2014
            p Официальный информационный портал ЕГЭ 2014
            p Правила заполнения бланков ЕГЭ 2014

            .clearfix

            h3 ЕГЭ-2013
            p Порядок проведения ГИА/ЕГЭ в 2013 году 
            p Сроки проведения ГИА в 2013 г.
            p Сроки проведения ЕГЭ в 2013 г.
            p Проект расписания ЕГЭ в 2013 году 
            p Минимальные баллы 2013 
            p Порядок проведения единого государственного экзамена
            p Справка о планируемых изменениях КИМ ГИА для выпускников 9 классов 2013 года
            p Справка о планируемых изменениях КИМ ЕГЭ 2013 года
            p Об утверждении составов территориальных отделений Городской конфликтной комиссии 
            p Приказ об определении места расположения конфликтной комиссии, мест подачи апелляций о несогласии с выставленными баллами

            h3.inf Полезная информация
            ul.donload-list
              li Информация для участников единого государственного экзамена в 2012 году 
              li Перечень дополнительных устройств, разрешенных на ЕГЭ
              li Правила и процедура проведения ЕГЭ
              li Сроки проведения государственной итоговой аттестации в формате ЕГЭ (11 класс)
              li Сроки проведения ГИА 2012
              li Регламент приема от участников ЕГЭ апелляции о несогласии с результатами ЕГЭ            li (с выставленными баллами) 
              li Бланк заявления на апелляцию
              li Памятка участника ЕГЭ
              li Даты приема документов на апелляцию по русскому языку
              li Даты приема документов на апелляцию по математике
              li Даты приема документов на апелляцию по химии и иностранным языкам
              li Даты приема документов на апелляцию по физике, обществознанию, географии, литературе

      == Slim::Template.new("ftr.slim").render


    script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
    script src="js/bootstrap.min.js"
    script src="js/main.js"