.row.row-bordered.footer
  .col-lg-8.col-lg-push-4
    .row
      .col-lg-3.col-md-3.col-sm-3.col-xs-12
        ul.ftr
          li О школе 
          li 
            a href="#" Миссия
          li 
            a href="#" Лица
          li 
            a href="#" История школы  
          li 
            a href="#" Достижения школы
          li 
            a href="#" СМИ о нас
          li 
            a href="#" Официальные документы
      .col-lg-3.col-md-3.col-sm-3.col-xs-12
        ul.ftr
          li Образование
          li
            a href="#" Базовое образование
          li
            a href="#" Специальные программы
          li
            a href="#" Выездная школа
          li
            a href="#" Студии и секции
          li
            a href="#" Профориентация
          li
            a href="#" Педсовет
          li
            a href="#" Мужской клуб
          li
            a href="#" Женский клуб
          li
            a href="#" Родительский клуб
      .col-lg-3.col-md-3.col-sm-3.col-xs-12
        ul.ftr
          li Школьная жизнь
          li
            a href="#" Новости
          li
            a href="#" СМИ школы
          li
            a href="#" Страницы центров
        ul.ftr
          li Начальная школа «Радуга»
          li
            a href="#" О школе
          li
            a href="#" Лица
          li
            a href="#" Образование
          li
            a href="#" Школьная жизнь
      .col-lg-3.col-md-3.col-sm-3.col-xs-12
        ul.ftr
          li Выпускники
          li Условия приема
          li Контакты
  .col-lg-4.col-lg-pull-8
    .row.top-border
      .col-lg-12.col-md-4.col-sm-4.col-xs-12.contact
        p.tel +7 (499) 248 31 94
        p.adress 119121, Москва, ул. Бурденко, д. 21А
        p.mail
          a href="#" info@theschool.ru

      .col-lg-12.col-md-4.col-sm-4.col-xs-12.contact
        p.text-justify
          a.social-ico.ico-fb href="#"
          a.social-ico.ico-tw href="#"
          a.social-ico.ico-you href="#"

      .col-lg-12.col-md-4.col-sm-4.col-xs-12.contact
        p.brend  &copy; 2003—2014 Частная школа «Золотое сечение»
        p.power
          | Разработка сайта — 
          a href="#" Pandra