doctype html
html
  head
    meta charset="utf-8" 
    meta content="IE=edge" http-equiv="X-UA-Compatible" 
    meta content="width=device-width, initial-scale=1" name="viewport" 
    meta content="template language" name="keywords"
    meta content="marchukilya@gmail.com" name="author"
    meta content="" name="description"
    link href="css/main.css" rel="stylesheet"
    link rel="shortcut icon" type="image/png" href="favicon.png"
    title School - Главная
  body
    .container
      .masthead
        .row
          .col-md-7.col-lg-7.col-sm-12.col-xs-12

            img.hidden-xs src="img/logo-full.gif"
            img.visible-xs src="img/logo-sm.gif"
          .col-md-5.col-lg-5.text-right.hidden-sm.hidden-xs
            a.button.btn-green Электронный журнал
        .clearfix
        .nav-sm.visible-sm.visible-xs
          button.navbar-toggle.pull-left data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button" 
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.button.btn-black Электронный журнал
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.nav-justified
            li
              a href="#" о школе
            li.active.dropdown#dropdownMenu1
              a.dropdown-toggle data-toggle="dropdown" href="#"
                | Начальная школа "Радуга" 
                span.caret
              ul.dropdown-menu role="menu" aria-labelledby="dropdownMenu1"
                li
                  a О школе
                li
                  a Лица
                li
                  a Образование
                  ul.menu-lvl2
                    li
                      a Базовое образование
                    li
                      a Специальные программы
                    li.dropdown-submenu
                      a.dropdown-toggle id="dropdownMenu2" data-toggle="dropdown" href="#" Выездная школа
                      ul.dropdown-menu role="menu" aria-labelledby="dropdownMenu2"
                        li
                          a Жить здОрово - здорОво
                        li
                          a Школьная академия наук искусств и интересов (ШАНИиИ)
                        li
                          a Языковое образование
                        li
                          a Социальный интеллект
                li
                  a Студии и лекции
                li
                  a школьная жизнь
                  ul.menu-lvl2
                    li
                      a href="#" Новости
                    li
                      a href="#" СМИ школы
                    li.dropdown-submenu
                      a.dropdown-toggle id="dropdownMenu2" data-toggle="dropdown" href="#" Страницы центров
                      ul.dropdown-menu role="menu" aria-labelledby="dropdownMenu2"
                        li
                          a Жить здОрово - здорОво
                        li
                          a Школьная академия наук искусств и интересов (ШАНИиИ)
                        li
                          a Языковое образование
                        li
                          a Социальный интеллект

            li
              a href="#"  образование
            li
              a href="#"  Школьная Жизнь
            li
              a href="#"  Выпускники
            li
              a href="#"  Условия приема
            li
              a href="#"  Контакты
            li.hidden-md
              a href="#"  Условия приема

    .container.photo-container
      .row
        .col-lg-7.col-md-8.col-sm-8.col-xs-12.img-left#bigpic1
          img.img-responsive src="img/pic44.jpg"
          .darkgrad
          a.btn.btn-transporent Начальная школа
          .text-placeholder
            span.date 1 апреля
            a
              h2 Родительское собрание
        .col-lg-5.col-md-4.col-sm-4.img-right.hidden-xs
          .row
            .col-lg-12.visible-lg#bigpic2
              img.img-responsive.img-left-padding src="img/img33.jpg"
              .darkgrad
              a.btn.btn-transporent Старшая школа
              .text-placeholder
                span.date 22 марта
                a
                  h2 100 вопросов профессионалу
            .col-lg-6.col-md-12.col-sm-12#bigpic3
              img.img-responsive.img-left-padding.img-top-padding src="img/pic1.jpg"
              .darkgrad
              a.btn.btn-transporent Средняя школа
              .text-placeholder
                span.date 20 марта
                a
                a
                  h2 Литературные чтения с Павлом Любимцевым
            .col-lg-6.col-md-12.col-sm-12#bigpic4
              img.img-responsive.img-left-padding.img-top-padding src="img/pic3.jpg"
              .darkgrad
              a.btn.btn-transporent Начальная школа
              .text-placeholder
                span.date 18 марта
                a
                  h2 Выездная образовательная

    .container
      .row.row-bordered
        .col-lg-7.col-md-9.col-sm-9.col-bordered
          h1.title-hdr Слово директора
          .row
            .col-lg-3.col-sm-3.hidden-xs.text-center.director
              img.img-circle src="img/round.jpg" width="93" height="93"
            .col-lg-8.col-sm-9.col-md-9.col-xs-12.director
              .column
                h2 Алексей Леонидович Куликов
                span Председатель совета учредителей
                p
                  em ”Создав в 1992 году школу как собственное дело, мы и сегодня ощущаем себя индивидуалистами, которые стремятся приносить пользу обществу, постоянно учатся и никого не побеждают. «Золотое Сечение» — школа для благодарных людей, опирающихся на то, что им дала семья, страна, природа.”
                a href="#" Подробнее

        .col-lg-5.col-md-3.col-sm-3.col-bordered
          h1.title-hdr Анонсы
          .row
            .col-lg-6
              .thumbnail
                a
                  img src="http://dummyimage.com/216x136/4d494d/686a82.gif&text=placeholder+image"
                .caption
                  a
                    h3 Испания "Я сам -2014"
                  p
                    small 24 марта 2014
            .col-lg-6.visible-lg
              .thumbnail
                a
                  img src="http://dummyimage.com/216x136/4d494d/686a82.gif&text=placeholder+image"
                .caption
                  a
                    h3 Пушкин ad libitum
                  p
                    small 23 марта 2014
            .col-md-12.column
              a Все анонсы


      .row.row-bordered

        .col-lg-4.col-md-12.col-bordered
          h1.title-hdr Начальная школа «Радуга»
          ul.media-list.row
            li.media.col-md-3.col-lg-12.col-sm-4
              a.pull-left href="#" 
                img.media-object.img-responsive alt="..." src="http://placehold.it/600x400" 
              .media-body
                p.date 19 марта 2014
                a
                  h4.media-heading Экскурсия в музей Москвы
            li.media.col-md-3.col-lg-12.col-sm-4
              a.pull-left href="#" 
                img.media-object.img-responsive alt="..." src="http://placehold.it/600x400" 
              .media-body
                p.date 18 марта 2014
                a
                  h4.media-heading Второй тур игры «Поток»
            li.media.col-md-3.col-lg-12.col-sm-4.hidden-lg
              a.pull-left href="#" 
                img.media-object.img-responsive alt="..." src="http://placehold.it/600x400" 
              .media-body
                p.date 14 марта 2014
                a
                  h4.media-heading Образовательная программа в Великобритании
            li.media.col-md-3.col-lg-12.hidden-sm.hidden-lg
              a.pull-left href="#" 
                img.media-object.img-responsive alt="..." src="http://placehold.it/600x400" 
              .media-body
                p.date 14 марта 2014
                a
                  h4.media-heading Великобритании программа в тельная
            
          .clearfix
          a.all-link Все новости начальной школы

        .col-lg-4.col-md-12.col-bordered
          h1.title-hdr Средняя школа
          ul.media-list.row
            li.media.col-md-3.col-lg-12.col-sm-4
              a.pull-left href="#" 
                img.media-object.img-responsive alt="..." src="http://placehold.it/600x400" 
              .media-body
                p.date 16 марта 2014
                a
                  h4.media-heading Экскурсия в музей «Огни Москвы»
            li.media.col-md-3.col-lg-12.col-sm-4
              a.pull-left href="#" 
                img.media-object.img-responsive alt="..." src="http://placehold.it/600x400" 
              .media-body
                p.date 10 марта 2014
                a
                  h4.media-heading Второй тур игры «Поток»
            li.media.col-md-3.col-lg-12.col-sm-4
              a.pull-left href="#" 
                img.media-object.img-responsive alt="..." src="http://placehold.it/600x400" 
              .media-body
                p.date 8 марта 2014
                a
                  h4.media-heading Образовательная программа
          .clearfix
          a.all-link Все новости начальной школы

        .col-lg-4.col-md-12.col-bordered
          h1.title-hdr Старшая школа
          ul.media-list.row
            li.media.col-md-3.col-lg-12.col-sm-4
              a.pull-left href="#" 
                img.media-object.img-responsive alt="..." src="http://placehold.it/600x400" 
              .media-body
                p.date 16 марта 2014
                a
                  h4.media-heading Экскурсия в музей «Огни Москвы»
            li.media.col-md-3.col-lg-12.col-sm-4
              a.pull-left href="#" 
                img.media-object.img-responsive alt="..." src="http://placehold.it/600x400" 
              .media-body
                p.date 10 марта 2014
                a
                  h4.media-heading Второй тур экономической
            li.media.col-md-3.col-lg-12.col-sm-4
              a.pull-left href="#" 
                img.media-object.img-responsive alt="..." src="http://placehold.it/600x400" 
              .media-body
                p.date 8 марта 2014
                a
                  a
                    h4.media-heading Программа в Великобритании
          .clearfix
          a.all-link Все новости старшей школы

      .row.row-bordered.footer
        .col-lg-8.col-lg-push-4
          .row
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              ul.ftr
                li О школе 
                li 
                  a href="#" Миссия
                li 
                  a href="#" Лица
                li 
                  a href="#" История школы  
                li 
                  a href="#" Достижения школы
                li 
                  a href="#" СМИ о нас
                li 
                  a href="#" Официальные документы
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              ul.ftr
                li Образование
                li
                  a href="#" Базовое образование
                li
                  a href="#" Специальные программы
                li
                  a href="#" Выездная школа
                li
                  a href="#" Студии и секции
                li
                  a href="#" Профориентация
                li
                  a href="#" Педсовет
                li
                  a href="#" Мужской клуб
                li
                  a href="#" Женский клуб
                li
                  a href="#" Родительский клуб
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              ul.ftr
                li Школьная жизнь
                li
                  a href="#" Новости
                li
                  a href="#" СМИ школы
                li
                  a href="#" Страницы центров
              ul.ftr
                li Начальная школа «Радуга»
                li
                  a href="#" О школе
                li
                  a href="#" Лица
                li
                  a href="#" Образование
                li
                  a href="#" Школьная жизнь
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              ul.ftr
                li Выпускники
                li Условия приема
                li Контакты
        .col-lg-4.col-lg-pull-8
          .row.top-border
            .col-lg-12.col-md-4.col-sm-4.col-xs-12.contact
              p.tel +7 (499) 248 31 94
              p.adress 119121, Москва, ул. Бурденко, д. 21А
              p.mail
                a href="#" info@theschool.ru

            .col-lg-12.col-md-4.col-sm-4.col-xs-12.contact
              p.text-justify
                a.social-ico.ico-fb href="#"
                a.social-ico.ico-tw href="#"
                a.social-ico.ico-you href="#"

            .col-lg-12.col-md-4.col-sm-4.col-xs-12.contact
              p.brend  &copy; 2003—2014 Частная школа «Золотое сечение»
              p.power
                | Разработка сайта — 
                a href="#" Pandra



    script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
    script src="js/bootstrap.min.js"
    script src="js/main.js"