.container
  .masthead
    .row
      .col-md-7.col-lg-7.col-sm-12.col-xs-12

        img.hidden-xs src="img/logo-full.gif"
        img.visible-xs src="img/logo-sm.gif"
      .col-md-5.col-lg-5.text-right.hidden-sm.hidden-xs
        a.button.btn-green Электронный журнал
    .clearfix
    .nav-sm.visible-sm.visible-xs
      button.navbar-toggle.pull-left.collapsed data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button" 
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.button.btn-black Электронный журнал
    .collapse.navbar-collapse.no-transition#bs-example-navbar-collapse-1
      ul.nav.nav-justified
        li
          a href="#" о школе
        li.dropdown#dropdownMenu1
          a.dropdown-toggle data-toggle="dropdown" href="#"
            | Начальная школа "Радуга" 
            span.caret
          ul.dropdown-menu role="menu" aria-labelledby="dropdownMenu1"
            li
              a О школе
            li
              a Лица
            li
              a Образование
              ul.menu-lvl2
                li
                  a Базовое образование
                li
                  a Специальные программы
                li.dropdown-submenu
                  a.dropdown-toggle id="dropdownMenu2" data-toggle="dropdown" href="#" Выездная школа
                  ul.dropdown-menu role="menu" aria-labelledby="dropdownMenu2"
                    li
                      a Жить здОрово - здорОво
                    li
                      a Школьная академия наук искусств и интересов (ШАНИиИ)
                    li
                      a Языковое образование
                    li
                      a Социальный интеллект
            li
              a Студии и лекции
            li
              a школьная жизнь
              ul.menu-lvl2
                li
                  a href="#" Новости
                li
                  a href="#" СМИ школы
                li.dropdown-submenu
                  a.dropdown-toggle id="dropdownMenu2" data-toggle="dropdown" href="#" Страницы центров
                  ul.dropdown-menu role="menu" aria-labelledby="dropdownMenu2"
                    li
                      a Жить здОрово - здорОво
                    li
                      a Школьная академия наук искусств и интересов (ШАНИиИ)
                    li
                      a Языковое образование
                    li
                      a Социальный интеллект

        li
          a href="#"  образование
        li
          a href="#"  Школьная Жизнь
        li
          a href="#"  Выпускники
        li
          a href="#"  Условия приема
        li
          a href="#"  Контакты
        li.hidden-md
          a href="#"  Условия приема
